* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* centering the container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* making the height of the viewport - so full page*/
    margin: 0;
    background: #A5E3EF;
}

.container {
    width: 80%;
    max-width: 1000px;
    background: #A5E3EF;
    padding: 2% 5%;
    border-radius: 10px;
}

/* styling for the heading */
.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    position: relative;
    transition: transform 0.3s ease;
    cursor: progress;
}

.container h1:hover {
    transform: translateX(10px) rotate(3deg);
}

.container h1:hover::after {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
}

/*  styling the button with hover effect */
.container button {
    display: flex;
    align-items: center;
    background: #347683;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    padding: 15px 25px;
    margin: 30px 0 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.container button img {
    width: 25px;
    margin-right: 8px;
}

.container button:hover {
    transform: scale(1.05);
    /*  darkening the button to give user feedback*/
    background-color: #2b616f;
}

.container h1 img {
    width: 100px;
    height: auto;

}


/* styiling the input box  */
.input-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: white;
    color: #333;
    padding: 20px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
    cursor: text;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    white-space: pre-wrap;
    /* making sure  long words break and don't overflow */
    overflow-wrap: break-word;
    /* adding an invisible border to prevent shifting */
    border: 1px solid transparent;

}

/* making sure the  cursor is visible and blinking so that we know when to start typing */
.input-box:focus {
    border: 1px solid #ccc;
    caret-color: black;
}

.input-box img {
    width: 25px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.input-box:hover {
    /* increasing the size of the white text box */
    transform: scale(1.02);
    /* adding shadow to the box after they hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}